<h1>Listing apps</h1>
<% @rails_apps.each do |rails_app| %>
  <p>
    <%= rails_app.name %><br/>
    <%= rails_app.desc %><br/>
    <%= rails_app.gemfile %><br/>
    <table>
     <tr>
      <td>name</td><td>version</td>
      <% @checker_types.each do |c|%>
        <td><%= c.name %></td>
      <% end %>
     </tr>
     <% rails_app.gem_infos.each do |gem_info| %>
     <tr>
      <td><%= gem_info.name %></td> <td><%= gem_info.version %></td>
        <% @checker_types.each do |c| %>
        <td>
          <% gem_info.gem_checker_results.each do |result| %>
            <% if result.checker_type.name == c.name %>
              <%= result.check_result %>
            <% end %>
          <% end %>
        </td>
        <% end %>
      <td>
        <% gem_info.gem_checker_results.each do |result| %>
          <% if result.checker_type.name == "checker 2" %>
            <%= result.check_result %>
          <% end %>
        <% end %>
      </td>
     </tr>
    <% end %>
    </table>
<% end %>
 </p>

