--- 
sources:
- classname: 'OBSGems'
  id: 'obs'
  url: 'https://api.opensuse.org/source'
  username: 'jordimassaguerpla'
  password: 'secret'
  obs_repo: 'home:jordimassaguerpla'
- classname: 'RubyGemsGems'
  id: 'rubygems.org'
  url: 'http://rubygems.org'
  specs: 'latest_specs.4.8.gz'
- classname: 'LockfileGems'
  id: 'lockfile'
  filenames:
    - '/home/nfs/work/studio/ui-server/Gemfile.lock'
    - '/home/nfs/work/studio/common/Gemfile.lock'
    - '/home/nfs/work/studio/gerald/Gemfile.lock'
    - '/home/nfs/work/studio/common/Gemfile.lock'
    - '/home/nfs/work/studio/bot/Gemfile.lock'
    - '/home/nfs/work/studio/runner/Gemfile.lock'
    - '/home/nfs/work/studio/sid/Gemfile.lock'
    - '/home/nfs/work/studio/cockpit/Gemfile.lock'
  gems_url: 'http://rubygems.org/gems'
target: 'lockfile'
checkers:
 - classname: NotNaviteGemChecker
 - classname: ExistsInUpstream
 - classname: NotRailsChecker

