--- 
- classname: 'OBSGems'
  url: 'https://api.opensuse.org/source'
  username: 'jordimassaguerpla'
  password: 'secret'
  obs_repo: 'home:jordimassaguerpla'
- classname: 'RubyGemsGems'
  url: 'http://rubygems.org'
  specs: 'latest_specs.4.8.gz'
- classname: 'LockfileGems'
  dirname: '/home/jordi/work/suse/gems-status/test'
  filename: 'Gemfile.lock'

